.icon-color {
    color: #3690B2;
    font-size: 20px;
}

.chat-icon-color {
    color:#B9B9B9;
    font-size: 20px;
}

.status-font-size {
    font-size: 11px;
}

.addr-font-size {
    font-size: 14px;
}

.profile-image {
    background-size: cover;
    width: 85px;
    height: 85px;
}